body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: linear-gradient( 109.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
  /* background: linear-gradient(20deg, rgb(251, 237, 201), rgb(0, 113, 227)); */
  /* background-image: url("bgimg1.jpg"); */
  min-height: 100%;
}

.bgimg-2 {
  background-image: linear-gradient( 250deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% );
  /* background-image: url("bgimg-2.jpg"); */
  min-height: 400px;
}

.bgimg-3 {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(130,205,221,1) 0%, rgba(255,247,153,1) 90% );
  /* background-image: url("img_parallax3.jpg"); */
  min-height: 400px;
}

.mytext {
  font-size: 20px;
  background-color: #f3ec78;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(130,205,221,1) 0%, rgba(255,247,153,1) 90% );
  /* background-image: linear-gradient( 30.6deg,  rgba(255,179,189,1) 1.8%, rgba(254,248,154,1) 50.6%, rgba(161,224,186,1) 100.3% ); */
  background-clip: text;
  text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
}

.caption {
  font-size: 20px;
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: black;
  /* background-color: blanchedalmond; */
}

.border {

  opacity: 0.5;
  background-color: #111;
  color: #fff;
  padding-bottom: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}